body {
    margin: 0;
    padding: 0;
    font-size: 35px;
    background-image: url("images/background.png");
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: fadein 5s;
       -moz-animation: fadein 5s;
        -ms-animation: fadein 5s;
         -o-animation: fadein 5s;
            animation: fadein 5s;
}

.blur {
    backdrop-filter: blur(100px);
}

.navbar {
    background: none;
}

.customA {
    color: #9C519E;
    background-color:#FFECBA;
}

.customB {
    color: #FFECBA;
    background-color:#9C519E;
}

.customB:hover {
    text-decoration: none;
    color: #9C519E;
    background-color: transparent;
    border: 3px solid #9C519E;
}

.customA:hover {
    text-decoration: none;
    color: #FFECBA;
    background-color: transparent;
    border: 3px solid #FFECBA;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 710px;
    width: 100%;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.customCard {
    color: #9C519E;
    background-color: #FFECBA;
}